.hamburger-menu {
  position: absolute;
  top: 96px;
  left: 0;
  background-color: $background;
  height: calc(100vh - #{$navbar-xsmall-height});
  width: 0;
  z-index: 200;
  overflow: hidden;
  .menu-inner {
    .menu-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        list-style: none;
        margin: 2.5rem 40px;
        a {
          opacity: 0;
          font-weight: 700;
          font-size: 3rem;
          text-decoration: none;
          color: $black;
          white-space: nowrap;
        }
      }
    }
  }
}
